@font-face {
    font-family: "ProximaNovaCond-Regular";
    src: url('fonts/ProximaNovaCond-Regular.woff') format('woff');
    src: url('fonts/ProximaNovaCond-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "ProximaNovaCond-Bold";
    src: url('fonts/ProximaNovaCond-Bold.woff') format('woff');
    src: url('fonts/ProximaNovaCond-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}