@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    src: url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url('fonts/HelveticaNeueCyr-Light.woff') format('woff');
    src: url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}