body {
  font-family: HelveticaNeueCyr-Roman;
}

.body-hidden {
  overflow: hidden;
}


textarea {
  resize: none;
}

a {
  color: #ffffff;
}

h2 {
  margin: 0;
  font-weight: normal;
}

/////////////////////////////////////// Swiper

.swiper {
  width: 842px;
  height: 476px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #0A2756;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 16px);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 0!important;
}

.swiper-navigation {
  display: flex;
  justify-content: space-between;
  width: 990px;
  position: absolute;
  top: 46%;
  z-index: 1;
}

.swiper-navigation-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiperPrev {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
}

.swiperNext {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
}
////

.modal-block {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;

  &_active {
    display: block;
  }
}

.modal-block__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #0A2756;
  font-size: 32px;
  padding-top: 196px;
  padding-bottom: 172px;
  background-color: white;
}

.modal-block__body-btn {
  background-color: #ffffff;
  color: #007DFE;
  width: 262px;
  height: 58px;
  border: 1px solid #007DFE;
  cursor: pointer;
  margin-bottom: 85px;
}

/////////////////////////////// Основные стили

.container {
  max-width: 1240px;
  margin: auto;

  &_hidden {
    overflow: hidden;
  }
}

.main-btn {
  background-color: #007DFE;
  color: #FFFFFF;
  height: 71px;
  border: none;
  cursor: pointer;
}

.navigation-block {
  padding: 12px 51px;
  margin: auto;

  &__wrapper {
    display: flex;
    height: 42px;
    align-items: center;
  }

  &__wrapper-name {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    font-size: 29px;
    padding-right: 22px;
    border-right: 1px solid #C4C4C4 ;
    color: #0A2756;
  }

  &__wrapper-menu {
    width: 565px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 24px;
    color: #0A2756;
  }

  &__wrapper-btn {
    background-color: #ffffff;
    color: #007DFE;
    width: 161px;
    height: 36px;
    border: 1px solid #007DFE;
    cursor: pointer;
  }

  &__wrapper-icons {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    gap: 20px;
  }

  &__wrapper-icons-item {
    cursor: pointer;
  }

  &__wrapper-list {
    display: none;
  }
}

.main-block {
  background-color: #0A2756;
  margin-bottom: 72px;

  &__wrapper {
    position: relative;
    color: white;
    padding: 70px 0 162px 220px;
    display: flex;
    flex-direction: column;
  }

  &__wrapper-title {
    position: relative;
    right: 60px;
    margin-bottom: 65px;
    width: 55%;
  }

  &__wrapper-btn {
    margin-bottom: 48px;
    width: 423px;
    letter-spacing: 0.67em;
  }

  &__wrapper-img {
    position: absolute;
    right: 38px;
    top: 32px;
    width: 32%;
  }

  &__wrapper-text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 41px;
    width: 495px;
  }

  &__wrapper-sup-text {
    font-size: 18px;
    line-height: 25px;
    width: 495px;
  }
}

.speakers-block {
  margin-bottom: 75px;
  position: relative;

  &__wrapper-title {
    margin-right: auto;
    margin-left: auto;
    width: 800px
  }

  &__wrapper-title-item {
    color: #0A2756;
    font-size: 60px;
  }

  &__slide {
    position: relative;
  }

  &__slide-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    bottom: 0;
    height: 111px;
    width: 100%;
    background-color: rgba(0, 128, 255, 0.7);
  }

  &__slide-wrapper-name {
    padding-left: 30px;
    padding-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
  }

  &__slide-wrapper-prof {
    padding-left: 30px;
    font-size: 18px;
    color: white;
  }
}

.message-block-wrap {
  background-color: #0A2756;
  padding: 140px 0 160px;
  color: #FFFFFF;
}

.message-block {
  width: 800px;
  margin-right: auto;
  margin-left: auto;

  &__title {
    font-size: 60px;
    line-height: 84px;
    margin-bottom: 62px;
  }

  &__form {
    font-size: 18px;
    margin-bottom: 100px;
  }

  &__form-wrapper {
    display: flex;
    gap: 26px;
    margin-bottom: 26px;
  }

  &__form-wrapper-item {
    display: flex;
    width: 387px;
    height: 50px;
    background-color: #ffffff;
  }

  &__form-wrapper-item-name {
    width: 100%;
    padding: 12px 19px;
    border: none;

    &:focus,
    &:active, {
      border: none;
      outline: none;
    }
  }

  &__form-textarea {
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
  }

  &__form-textarea-item {
    width: 100%;
    padding: 12px 19px;
    border: none;
    height: 96px;

    &:focus,
    &:active, {
      border: none;
      outline: none;
    }
  }

  &__form-buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__form-buttons-btn {
    font-size: 14px;
    width: 241px;
    letter-spacing: 0.3em;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__contacts-info {
    font-size: 32px;
    line-height: 45px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__contacts-site {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .main-block {
    &__wrapper-title {
      right: 55px;
    }
  }
}

@media (max-width: 1000px) {
  .navigation-block {
    padding: 15px 27px;

    &__wrapper {
      justify-content: space-between;
    }

    &__wrapper-name {
      padding: 0;
      border: none;
    }

    &__wrapper-menu {
      display: none;
    }

    &__wrapper-btn {
      display: none;
    }

    &__wrapper-icons {
      display: none;
    }

    &__wrapper-list {
      display: block;
      cursor: pointer;

      &_active {
        display: block;
      }

      &_disabled {
        display: none;
      }
    }
  }

  .main-block {

    &__wrapper {
      padding-left: 72px;
    }

    &__wrapper-title {
      right: 50px;
    }
  }

  .swiper-navigation-wrap {
    display: none;
  }
}

@media (max-width: 850px) {
  .swiper {
    width: 662px;
    height: 417px;
  }

  .speakers-block {
    &__wrapper-title {
      width: 624px;
    }

    &__slide-img {
      width: 293px;
    }
  }

  .message-block {
    width: 627px;

    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 768px) {
  .main-block {

    &__wrapper-title {
      right: 45px;
    }
  }

  .speakers-block {
    &__wrapper-title-item {
      font-size: 50px;
    }
  }

  .message-block-wrap {
    padding-top: 100px;
  }
}

@media (max-width: 700px) {

  .swiper {
    width: 320px;
  }

  .navigation-block {
    padding: 15px 20px;
  }

  .main-block {
    &__wrapper {
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__wrapper-title {
      position: static;
    }

    &__wrapper-btn {
      font-size: 14px;
      width: 279px;
      letter-spacing: 0.3em;
      margin-bottom: 59px;
    }

    &__wrapper-img {
      position: static;
      margin-bottom: 48px;
      width: 237px;
    }
  }

  .speakers-block {

    &__wrapper-title-item {
      text-align: center;
    }

    &__slide-img {
      width: 280px;
    }
  }


  .message-block {

    &__form {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    &__form-wrapper-item {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__form-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 630px) {

  .modal-block {
    &__body {
      padding-top: 47px;
      font-size: 22px;
    }

    &__body-btn {
      width: 180px;
      height: 40px;
      margin-bottom: 35px;
    }
  }

  .main-block {
    &__wrapper-title {
      width: 95%;
    }

    &__wrapper-text {
      width: 100%;
    }

    &__wrapper-sup-text {
      width: 100%;
    }
  }

  .speakers-block {

    &__wrapper-title {
      width: 100%;
    }

    &__wrapper-title-item {
      font-size: 40px;
    }
  }


  .message-block-wrap {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .message-block {
    width: 600px;

    &__title {
      font-size: 40px;
      line-height: 56px;
    }

    &__form-buttons {
      justify-content: center;
    }

    &__contacts-info {
      font-size: 28px;
    }

    &__contacts-sit {
      font-size: 12px;
    }
  }
}

